$image-path: "images/";
/* Pattern Lab Base theme variables */
@import "~@comicrelief/pattern-lab/sass/base/variables/grid";
@import "~@comicrelief/pattern-lab/sass/base/variables/colours";
@import "~@comicrelief/pattern-lab/sass/base/variables/lists";
@import "~@comicrelief/pattern-lab/sass/base/core/base-breakpoints";
@import "~@comicrelief/pattern-lab/sass/base/core/base-1-mixins";
@import "~@comicrelief/pattern-lab/sass/base/variables/typography";

/* Pattern Lab Comic Relief theme variables */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2019/variables/colours";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2019/variables/typography";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2019/variables/mixins";

/* Pattern Lab Comic Relief theme components */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2019/components/typography/fonts";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2019/components/typography/typography";

/* Pattern Lab Base theme components */
@import "~@comicrelief/pattern-lab/sass/base/components/cookie-consent/_cookie-consent";
@import "~@comicrelief/pattern-lab/sass/base/components/buttons/_buttons";

.cookie-consent.cc_container {
  position: relative ! important; // fixed position to relative not fixed
  overflow:hidden;
  animation-name: slideDown;
  animation-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  font-family: $body-font;
  max-height: 100px;

  .cc_more_info {
    display: inline-block;
  }

  .cc_message {
    color: $colour-white;
  }

}

@keyframes slideDown {
  0% {
    max-height: 0;
  } 
  100% {
    max-height: 100px;
  }
}