{
  "compact": true,
  "presets": [
  	"env", 
  	"react", 
  	"stage-0",
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-react-jsx",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
