{
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/href-no-hash": "off"
  },
  "env": {
    "browser": true
  }
}
