.browser-message {
  background: $colour-black;
  font-family: $font-regular;
  padding: 10px;

  p {
    color: $colour-white;
  }

  .link {
    color: $colour-white;
    font-size: inherit;
    line-height: 14px;
    border-bottom: 4px solid hsla(0,0%,91%,.5);
    text-decoration: none;
  }
}