/* Pattern Lab Base theme variables */
@import "../../sass/base/variables/grid";
@import "../../sass/base/variables/colours";
@import "../../sass/base/core/base-breakpoints";
@import "../../sass/base/core/base-1-mixins";

/* Pattern Lab Comic Relief theme variables */
@import "../../sass/themes/cr/2019/variables/colours";
@import "../../sass/themes/cr/2019/variables/typography";
@import "../../sass/themes/cr/2019/variables/mixins";
/* Pattern Lab Comic Relief theme components */
@import "../../sass/themes/cr/2019/components/typography/fonts";
@import "../../sass/themes/cr/2019/components/typography/typography";

.browser-message {
  background: $colour-black;
  font-family: $anton;
  padding: 10px;

  p {
    color: $colour-white;
  }

  .link {
    color: $colour-white;
    font-size: inherit;
    line-height: 14px;
    border-bottom: 4px solid hsla(0,0%,91%,.5);
    text-decoration: none;
  }
}
