// Visually hidden

@mixin visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  word-wrap: normal;
}

@import "~@comicrelief/pattern-lab/sass/base/variables/grid";
@import "~@comicrelief/pattern-lab/sass/base/variables/colours";
@import "~@comicrelief/pattern-lab/sass/base/variables/typography";
/* Pattern Lab Comic Relief theme variables */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/mixins";

@import "~@comicrelief/pattern-lab/sass/base/components/just-in-time-block/_just-in-time";

/* override base styles */
.form__row--just-in-time-block {
  .close-link {
    display: inline
  }
}
