.form__row--marketing-consent {
  .form__field-wrapper--background {
    padding: 22px 44px;
    .form__checkbox--inline-2-horizontal {
    vertical-align: top;
      label {
        padding-top: 1em;
      }
      input[type="checkbox"] + span,
      input[type="checkbox"] {
        top: 18px;
        left: 0;
      }
    }
  }
  .link.inline {
    display: inline;
  }

  .form__field--extra-info {
    width: 100%;
  }
}

/* 2023 reskin */
.hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  padding: 0;
  border: 0;
  height: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
}

.form__row.form__row--marketing-consent {
  background-color: #fff;

  .form__field--wrapper {
    margin-bottom: 10px;
  }

  .marketing-section-copy--privacy {
    p {
      font-size: 13px;

      a {
        font-weight: 700;
        color: inherit;
      }
    }
  }

  .marketing-consent--checkboxes {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .form__field-wrapper--checkbox {
      background: inherit;
      width: 100%;
      margin: 0;
      padding: 10px;

      .form__checkbox.form__checkbox--inline.form__checkbox--inline-2-horizontal {
        width: auto;
        input[type="checkbox"],
        input[type="checkbox"] + span {
          top: 0;
        }
      }

      @media (min-width: 768px) {
        width: 50%;
      }
    }

    .form__field-label {
      width: auto;
      top: 0;
      left: 0;
      margin-left: 45px;
      padding-top: 0;
      text-transform: unset;
      height: 30px;
      line-height: 30px;
      margin-bottom: 0;
    }

    p.form__fieldset--label {
      position: relative;
      font-weight: 500;
      font-size: 18px;
      font-family: anton, sans-serif;
      text-transform: uppercase;
      @extend .hidden;
    }

    .form__field--sub-field-wrapper {
      .form__field-label {
        margin: 0;

        // Hide labels for the 
        // single input options
        &#field-label--email,
        &#field-label--phone,
        &#field-label--mobile {
          @extend .hidden;
        }
      }
    }
  }
}
